body {
    background: rgb(19, 35, 54);
    font: normal 15pt Arial;
}

header {
    color: white;
    text-align: center;
}

section {
    background: rgb(75, 71, 71);
    border-radius: 10px;
    padding: 15px;
    width: 500px;
    margin: auto;

}

div {
    background: rgb(26, 25, 25);
    display: inline-block;
    border-radius: 10px;
    color: white;
    text-align: center;
    padding: 20px;
    box-shadow: 6px 6px 2px #000;
}

table {
    font: normal 14pt times;
    width: 300px; 
    height: 60px;
    background: rgb(5, 63, 55);
    color: white;
    margin-top: 20px;
    box-shadow: 3px 3px 2px rgb(6, 43, 43);
    text-align: center;
}


footer {
    color: white;
    text-align: center;
    font: italic 8pt Arial;
    padding: 10px;
}
